<% include partials/header.ejs %>

<div>
    <header>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="slider">
            <div class="slide">
                introduction
                Welcome to co/ment — a community to connect mentors and mentees to accelerate your coding journey

                co/ment offers tools to help you find a coding partner tailored to your needs: search for a specific
                technical background, skill set, spoken language, or time zone.

                No matter where you stand on the coding path, there are others both ahead of you and behind. There are
                no requirements to become a mentor except a willingness to share your knowledge.
            </div>

            <div class="slide">
                step 1: profile
                Begin by filling out your profile

                Add skills, languages, time zone, and links to your social profiles

                This information will help you find the perfect coding partner.
                <img src='https://raw.githubusercontent.com/ursa-majors/co-ment/master/design/profile.png'>
            </div>

            <div class="slide">
                step 2: posts
                Next, create a post that describes the match you're seeking.

                Other users can connect with you through your post.

                You'll get an email from co/ment when a user wants to connect.
                <img src='https://raw.githubusercontent.com/ursa-majors/co-ment/master/design/post.png' </div> <div
                    class="slide">
                step 3: connections
                When you a find match, request a connection!

                The user will receive an email with your request

                Once you are connected, you decide how to move forward. Set up a video chat, a pair-programming session,
                or share your skills via email or Slack.
                <img src='https://raw.githubusercontent.com/ursa-majors/co-ment/master/design/connection.gif'>
            </div>

        </div>

        <div class="faq">
            <h1>faq</h1>

            <div class="row">
                <p>Who can be a mentor?</p>
                <p>Anyone! The only requirement is a willingness to share your skills.</p>
            </div>

            <div class="row">
                <p>How does the mentor/mentee relationship work?</p>
                <p>Once a user accepts your connection request, you will be notified by email. At that point, the mentor
                    and mentee will agree on the best way to continue the relationship. You can use co/ment in-app
                    messaging, or any other format that works for you—phone, email, Slack, hangouts, or in-person.
                </p>
            </div>

            <div class="row">
                <p>How long does a mentorship last?</p>
                <p>It's up to you! Depending on your goals, you may have a single meeting or work together for an
                    entire year. Keep it up as long as the connection is productive for you.
                </p>
            </div>

            <div class="row">
                <p>I can't find a mentor for skill XYZ. What do I do?</p>
                <p>Contact us and we'll do our best to find you a mentor.</p>
            </div>
        </div>
    </main>


    <footer>
        © 2019 The Bears Team
    </footer>
</div>

<% include partials/footer.ejs %>