<% include partials/header.ejs %>

<div>
    <header>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <h1>mentor-mentee</h1>
        <h2>Finding the perfect guide for you</h2>
        <div>
            <button><a href="/register">Register</a></button>
            <button><a href="/login">Login</a></button>
        </div>
    </main>


    <footer>
        © 2019 The Bears Team
    </footer>
</div>
<% include partials/footer.ejs %>