<% include partials/header.ejs %>

<div>
<h1>profile Home</h1>
<button><a href="/logout">Logout</a></button>

 <footer>
        © 2019 The Bears Team
    </footer>
</div>
<% include partials/footer.ejs %>