.Login {
    margin: 50px auto;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 2px 3px rgb(53, 53, 53);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px;
    color: whitesmoke;
    box-sizing: border-box;
    background-color: rgb(63, 104, 104);
}
.Login h2 {
    letter-spacing: 3px;
}
.Options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
.Options span {
    cursor: pointer;
}